<<<<<<< HEAD
.icon {
  margin: 10px;
  float: left;
}
.accountName {
}
.bigbox {
  clear: both;
}
=======
.icon{
    margin: 10px;
    float: left;
}
.accountName{
    
}
>>>>>>> 5ca6e9e84bd8e4cae10606bf3e56418ec2dd1cce
